.about-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #111;
  overflow-x: hidden;
  margin-top: 80px;
  position: relative;
 
 

}

.about-title {
  text-align: center;
  font-size: 2.5rem;
  color: #000;
  font-weight: 700;
  padding: 40px 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Each section covers full screen height */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
 
  padding: 0 80px;
  background-color: #fff;
  flex-wrap: wrap;
}

.about-section.reverse {
  flex-direction: row-reverse;
}

/* Image styling */
.about-image {
  flex: 0 0 280px;
  display: flex;
  justify-content: center;
  
}

.about-img {
  width: 250px;
  height:250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* Paragraph styling */
.about-content {
  flex: 1;
  max-width: 550px;
}

.about-content p {
  font-size: 1.15rem;
  color: #111;
  font-weight: 400;
  text-align: justify;
  line-height: 1.9;
}

.highlight {
  color: #000;
  font-weight: 700;
}

/* Divider */
.divider {
  border: 0;
  height: 2px;
  background: #000;
  margin: 0;
}

/* Personal Info */
.personal-info {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  padding: 40px;
}

.section-title {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 20px;
  font-weight: 700;
}

.personal-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.personal-info li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.personal-info li strong {
  color: #000;
  width: 180px;
  display: inline-block;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .about-section,
  .about-section.reverse {
    flex-direction: column;
    text-align: center;
     gap: 10px;
    padding: 40px 10px;
  }

 .about-image {
    margin-bottom: 10px;
    height: 10px;
  }

  .about-img {
    width: 220px;
   height: 220px;
  }

  .about-content p {
    text-align: center;
  }
}