.contactWrapper {
  width: 100%;
  margin: 6rem auto 3rem auto;
  background: #ffffff;
  
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
 font-family: sans-serif;
  color: #002147;
}


.mapContainer {
  width: 100%;
  height: 350px;
  border-bottom: 4px solid #1e4b7a;
}

.contactWrapper h2 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #092c51;
  text-align: center;
  margin: 2.5rem 0;
  letter-spacing: 1px;
  width: 750px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem 2.5rem 2rem;
}

.contactForm label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #222;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.3rem;
  border-radius: 0.6rem;
  border: 1px solid #ddd;
  background-color: #f9f9ff;
  outline: none;
  transition: all 0.3s ease;
}

.contactForm input:focus,
.contactForm textarea:focus {
  border-color: #007bff;
  background-color: #eef6ff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.submitBtn {
   width: 300px;
 
 
  gap: 0.6rem;
  background-color: #255c97;
  color: white;
  padding: 1.1rem 1.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
   display: flex;
  align-items: center;
  justify-content: center;
 
}

.submitBtn:hover {
  background-color: #003772;
  transform: translateY(-2px);
}

.arrowIcon {
  stroke: white;
}

.resultMessage {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #28a745;
  margin-bottom: 2rem;
}

/* Responsive Styles */
@media (max-width: 850px) {
  .contactWrapper {
    margin: 10rem 1.5rem 2rem 1.5rem;
  }

  .contactWrapper h2 {
    font-size: 2.4rem;
  }

  .contactForm input,
  .contactForm textarea,
  .submitBtn {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .contactWrapper {
    margin: 12rem 1rem 2rem 1rem;
  }

  .mapContainer {
    height: 250px;
  }

  .contactWrapper h2 {
    font-size: 2rem;
  }

  .submitBtn {
    padding: 1rem;
  }
}
/* Responsive Styles */
@media (max-width: 550px) {
  .contactWrapper {
    margin: 6rem 1.2rem 1.4rem 1.2rem;
  }

  .contactWrapper h2 {
    font-size: 1.4rem;
  }

  .contactForm input,
  .contactForm textarea,
  .submitBtn {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .contactWrapper {
    margin: 12rem 1rem 2rem 1rem;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapContainer {
    height: 200px;
  }

  .contactWrapper h2 {
    font-size: 1.6rem;
  }

  .submitBtn {
    padding: 0.8rem;
  }
}